<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.user.mapper.UserMapper">
  <select id="selectUserInfo" resultType="com.study.user.model.Vo.UserVo">
    <![CDATA[
    SELECT A.*
      FROM user_info A
     WHERE A.id = #{id}

    ]]>
    <!--com.study.mapper.UserMapper.selectUserInfo-->
  </select>
</mapper>